* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* TOP BAR */
.top-bar {
  width: 100%;
  height: 45px;
  background: #bf9455;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

/* CONTAINER LOGIN */
.container {
  width: 100%;
  max-width: 450px;
  margin-top: 40px;
  padding: 20px;
  text-align: center;
}

.user-img {
  width: 160px;
  height: 160px;
  object-fit: cover;
  margin-bottom: 15px;
}

.title {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 25px;
}

.login-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* FORM GROUP */
.form-group {
  text-align: left;
}

.form-group label {
  font-size: 18px;
  font-weight: 500;
}

.form-group input {
  width: 100%;
  height: 50px;
  border-radius: 12px;
  border: 2px solid #000;
  margin-top: 5px;
  padding-left: 15px;
  font-size: 16px;
}

/* BUTTON LOGIN */
.btn-login {
  width: 100%;
  height: 55px;
  background: #bf9455;
  color: #fff;
  border: none;
  border-radius: 12px;
  font-size: 22px;
  cursor: pointer;
  transition: 0.2s ease;
}

.btn-login:hover {
  background: #a57e3d;
}

/* TEKS BAWAH */
.register-text {
  margin-top: 20px;
  font-size: 16px;
}

.register-text a {
  color: #bf9455;
  font-weight: 600;
  text-decoration: none;
}

.register-text a:hover {
  text-decoration: underline;
}
