/* Background page */
body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    background-color: #ffffff;
}

/* Wrapper */
.register-container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
}

/* Header bar */
.header-bar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 90px;
    background-color: #bf9455;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

/* Card Register */
.register-card {
    width: 500px;
    background: #fefefe;
    padding: 40px 30px;
    border-radius: 20px;
    box-shadow: 0px 8px 25px rgba(0,0,0,0.15);
    text-align: center;
    z-index: 2;
}

/* Avatar */
.register-card .avatar {
    width: 140px;
    height: 140px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 15px;
}

/* Title */
.register-card h2 {
    font-size: 30px;
    margin-bottom: 25px;
    font-weight: 600;
}

/* Input group */
.input-group {
    text-align: left;
    margin-bottom: 18px;
}

.input-group label {
    font-size: 16px;
    font-weight: 500;
    color: #333;
}

.input-group input {
    width: 100%;
    padding: 14px;
    margin-top: 6px;
    border-radius: 12px;
    border: 2px solid #000000;
    background-color: #fef9f9;
    font-size: 16px;
}

/* Button */
.btn-register {
    width: 100%;
    background-color: #bf9455;
    border: none;
    padding: 16px;
    border-radius: 12px;
    font-size: 20px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.btn-register:hover {
    opacity: 0.9;
}

/* Login text */
.login-text {
    margin-top: 18px;
    font-size: 15px;
}

.login-text a {
    font-weight: 600;
    color: #bf9455;
    text-decoration: none;
}
